.before-after {
  grid-template-columns:auto;
  grid-template-rows: 33.5rem auto;
  grid-gap: 3rem;
}

/*row 1*/
#living-room-before {
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

#living-room-after {
  grid-column: 4 / span 3;
  grid-row: 1 / 2;
}

.cap-pad img {
  height: 77.5%;
}

/*row 2*/
#kitchen-south-before {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
}

#kitchen-south-after {
  grid-column: 4 / span 3;
  grid-row: 2 / 3;
}


/*row 3*/
#tub-before {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}

#tub-after {
  grid-column: 4 / span 3;
  grid-row: 3 / 4;
}
