/*.before-after {*/
  /*width: 50%;*/
  /*height: auto;*/
/*}*/

.carousel, .before-after {
  padding-top: 1rem;
  width: 80%;
  height: auto;
}

.gallery-title {
  align-self: flex-start;
  margin-left: 8%;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}

button.slick-arrow {
  box-sizing: content-box;
  border: solid 1px #012C40;
  border-radius: 20px;
  background-color: #012C40;
  opacity: 1;
}

figure {
  display: flex;
  align-items: center;
  width: auto;
  overflow: hidden;
  /*border: 1px solid blue;*/
  /*height: 20rem;*/
}

figure img {
  display: inline-block;
  width: auto;
  padding: 0.25rem;
  height: 15rem;
  margin: auto;
  /*border: 1px solid red;*/
  /*overflow: hidden;*/
  /*transition: all 300ms;*/
}

/*figure img:hover {
  transform: scale(1.5);
}*/

figcaption {
  font-weight: 600;
  line-height: 1.2;
  padding-top: 0.5rem;
  text-align: center;
  width: 70%;
  margin: auto;
}
