/*On sub-pages of the mobile version, the nav bar will display below the company logo in a horizontal bar.*/

@media screen and (max-width: 480px) {

  header nav {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px solid #1ca5b8;
    margin-bottom: 1rem;
  }

  nav a,
  .dropdown,
  nav a.mobile {
    display: inline-block;
    color: #012C40;
    background-color: #e6eff2;
  }

/*The current page link will not be displayed*/
  #current {
    display: none;
  }

  #galleries-link {
    padding: 0;
    margin-top: 0;
  }


  h1, h2 {
    font-weight: 700;
  }

}

@media only screen and (max-width: 364px) {
  .gallery-sub-nav {
    display: grid;
    width: 80%;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: start;
    margin: -1rem auto 1rem;
    /*flex-wrap: wrap;*/
  }

  .gallery-sub-nav a {
    /*display: inline-block;*/
    /*text-align: left;*/
    padding: 0;
  }

  #galleries-dropdown {
    display: none;
  }
}
