/*row 1*/
#pergola-1 {
  grid-column: 1 / span 6;
  grid-row: 1 / 2;
}

/*row 2*/
#lateral-1 {
  grid-column: 2 / span 4;
  grid-row: 2 / 3;
}

/*row 3*/
#lateral-2 {
   grid-column: 1 / span 3;
   grid-row: 3 / 4;
 }

 #porch-stairs {
   grid-column: 4 / span 3;
   grid-row: 3 / 4;
 }

/*row 4*/
#zometek-deck {
  grid-column: 2 / span 4;
  grid-row: 4 / 5;
}

/*row 5*/
#zometek-surface {
  grid-column: 1 / span 3;
  grid-row: 5 / 6;
}

#bamboo-stairs {
  grid-column: 4 / span 3;
  grid-row: 5 / 6;
}

/*row 6*/
#porch-1 {
  grid-column: 1 / span 6;
  grid-row: 6 / 7;
}

@media screen and (max-width: 970px) and (min-width: 480px) {
  figcaption {
    padding-bottom: 1.5rem;
  }
}

@media only screen
  and (max-width: 768px)
  and (min-width: 700px)
  and (orientation: landscape) {
    .whole-house-gallery {
      grid-template-rows: auto auto 480px 480px 480px auto;
    }

    .cap-adjust img {
      height: 75%;
    }
  }

@media only screen and (max-width: 700px)
  and (orientation: landscape) {
    #pergola-1,
    #lateral-1,
    #lateral-2,
    #zometek-deck,
    #zometek-surface,
    #porch-1,
    #porch-stairs,
    #bamboo-stairs {
      grid-column: 1 / 2;
      grid-row: auto;
    }
}

@media only screen and (max-width: 600px) and
  (min-width: 481px) and
  (orientation: portrait) {
    #pergola-1,
    #lateral-1,
    #lateral-2,
    #zometek-deck,
    #zometek-surface,
    #porch-1,
    #porch-stairs,
    #bamboo-stairs {
      grid-column: 1 / 2;
      grid-row: auto;
    }
}

@media screen and (max-width: 480px) {
  #pergola-1,
  #lateral-1,
  #lateral-2,
  #zometek-deck,
  #zometek-surface,
  #porch-1,
  #porch-stairs,
  #bamboo-stairs {
    grid-column: 1 / 2;
    grid-row: auto;
  }
}
