.container {
  margin: auto;
}

.gallery-title {
  text-align: center;
}

h1.gallery-title {
  padding-top: 1.5rem;
}

h2.gallery-title {
  padding-bottom: 2.4rem;
}

.whole-house-gallery {
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 37.5rem 37.5rem 37.5rem 37.5rem;
  grid-gap: 4rem;
  justify-content: center;
  justify-items: center;
  align-items: start;
  grid-flow: row;
  padding-bottom: 4.5rem;
}

figure {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  box-shadow: 6px 6px 15px rgba(1, 44, 64, 0.2),
              -6px -6px 15px rgba(1, 44, 64, 0.2);
}

figure img {
  display: block;
  width: 100%;
  height: 83.3%;
}

figcaption {
  padding: 1rem;
  padding-bottom: 2rem;
  line-height: 1.4;
}

/*For rows with a three-line caption, re-distribute the figure space*/
.long-cap-row img {
  height: 80%;
}

.long-cap-row figcaption {
  height: 20%;
}

/*row 1*/
#shower-1 {
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
}

#shower-1-vanity {
  grid-column: 5 / span 2;
  grid-row: 1 / 2;
}

/*row 2*/
#vanity-w-mirror {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

#tile-surround {
   grid-column: 3 / span 2;
   grid-row: 2 / 3;
 }

#shelves-mirror {
  grid-column: 5 / span 2;
  grid-row: 2 / 3;
}

/*row 3*/
#window {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

#upstairs-bathroom {
  grid-column: 3 / span 2;
  grid-row: 3 / 4;
}

#walk-in-shower {
  grid-column: 5 / span 2;
  grid-row: 3 / 4;
}

/*row 4*/
#vanity-master {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}

#basement-bath-addition {
  grid-column: 3 / span 2;
  grid-row: 4 / 5;
}

#toilet {
  grid-column: 5 / span 2;
  grid-row: 4 / 5;
}

@media screen and (max-width: 480px) {
  #bef-aft-link {
    display: none;
  }

  .whole-house-gallery {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 0;
    width: 100%;
  }

  .whole-house-gallery.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  figure img,
  .long-cap-row img {
    max-width: 100%;
    height: auto;
  }

  figcaption,
  .long-cap-row figcaption {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 2.5rem;
  }

  #shower-1-vanity,
  #shelves-mirror,
  #window,
  #toilet {
    display: none;
  }

  #shower-1,
  #vanity-w-mirror,
  #tile-surround,
  #upstairs-bathroom,
  #walk-in-shower,
  #vanity-master,
  #basement-bath-addition {
    grid-column: 1 / 2;
    grid-row: auto;
  }
}
