.mobile-landscape-only {
  display: none;
}

/*row 1*/
#spiral-1 {
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

#live-edge {
   grid-column: 4 / span 3;
   grid-row: 1 / 2;
 }

/*row 2*/
#coffee-table-2 {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
}

#coffee-table-2-detail {
  grid-column: 4 / span 3;
  grid-row: 2 / 3;
}

/*Row 3*/
#coffee-table-1 {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}

#bookcase {
  grid-column : 4 / span 3;
  grid-row: 3 / 4;
}

.square-img img {
  height: 19.3rem;
  max-width: 100%;
}

@media only screen and (max-width: 700px)
  and (orientation: landscape) {
    #spiral-1,
    #live-edge,
    #bookcase,
    #coffee-table-2,
    #coffee-table-1,
    #coffee-table-2-detail {
      grid-column: 1 / 2;
      grid-row: auto;
    }

    #coffee-table-2-detail {
      grid-row: 5 / 6;
    }

    .regular {
      display: none;
    }

    .mobile-landscape-only {
      display: block;
    }
}

@media only screen and (max-width: 600px) and
  (min-width: 481px) and
  (orientation: portrait) {
    .gallery-subtitle {
      max-width: 85%;
      margin: auto;
      line-height: 1.4;
    }

    #spiral-1,
    #live-edge,
    #bookcase,
    #coffee-table-2,
    #coffee-table-1,
    #checkerboard,
    #coffee-table-2-detail {
      grid-column: 1 / 2;
      grid-row: auto;
    }

    #coffee-table-2-detail {
      grid-row: 5 / 6;
    }
}

@media screen and (max-width: 480px) {
  #spiral-1,
  #live-edge,
  #bookcase,
  #coffee-table-2,
  #coffee-table-1,
  #checkerboard,
  #coffee-table-2-detail {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  #coffee-table-2-detail {
    grid-row: 5 / 6;
  }

  .square-img img {
    height: auto;
  }
}
